@import "colors";

.editorRoot {
  background: $white;
  border: 1px solid $gray;
  font-size: 14px;
  padding: 15px;
}
.toolbar {
  display: flex;
  justify-content: space-between;
}
.editor {
  border-top: 1px solid $gray;
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
}
